*.db
/.vs
/.vs
/.vs
.vs/ITP_game_arsenii.slnx/v18/DocumentLayout.backup.json
.vs/ITP_game_arsenii.slnx/v18/DocumentLayout.backup.json
.vs/ITP_game_arsenii/CopilotIndices/18.5.39150.21849/CodeChunks.db
.vs/ITP_game_arsenii.slnx/v18/DocumentLayout.json
