*.db
/.vs
/.vs
/.vs
.vs/ITP_game_arsenii.slnx/v18/DocumentLayout.backup.json
.vs/ITP_game_arsenii.slnx/v18/DocumentLayout.backup.json
.vs/ITP_game_arsenii/CopilotIndices/18.5.39150.21849/CodeChunks.db
.vs/ITP_game_arsenii.slnx/v18/DocumentLayout.json
.vs/ITP_game_arsenii.slnx/FileContentIndex/b45173d9-e60c-4eee-953d-aa7c9ff9d0b0.vsidx
.vs/ITP_game_arsenii.slnx/FileContentIndex/b45173d9-e60c-4eee-953d-aa7c9ff9d0b0.vsidx
ITP_game_arsenii/__pycache__/config.cpython-312.pyc
